// deaclare variable
$primary_bgk: #E1EDE5;
$primary_color: #4d835f;
$second_color: #ED1C24;
$background_color: #D0E2D6;
$title_color: #2A383A;

@mixin clear_box {
	width: 100%;
	float: left;
	clear: both;
}
@mixin image {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}
/* dùng cho một vài thuộc tính riêng cho trình duyện VD: transition, box-shadow */
@mixin css3($atribute, $params) {
	#{$atribute}: #{$params};
	-webkit-#{$atribute}: #{$params};
	-khtml-#{$atribute}: #{$params};
	-moz-#{$atribute}: #{$params};
	-ms-#{$atribute}: #{$params};
	-o-#{$atribute}: #{$params};
}
/* căn giữa chiều dọc và ngang trên 1 box */
@mixin center_element($height) {
	display: grid;
    place-items: center;
    height: #{$height};
}
/* background opacity */
@mixin bg-opacity($color, $opacity) {
	position: relative;
	&:before {
		content: "";
		top: 0; 
		left: 0;
		right: 0;
		bottom: 0;
		background: #{$color};
		opacity: #{$opacity};
		position: absolute;
	}
}
@mixin flex-row {
	display: flex;
	flex-wrap: wrap;
}
@mixin flex-position($pos) {
	align-items: center;
	justify-content: $pos;
}
@mixin webkit-box($number) {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
    overflow: hidden;
}

// 3. Breakpoints
$breakpoints: (se: 375px, xs: 480px, sm: 576px, md: 768px, lg: 992px, xm: 1024px, xl: 1200px, xxl: 1600px, xlst: 1920px);
$max-breakpoints: (se: 374px, xs: 479px, sm: 575px, md: 767px, lg: 991px, xl: 1199px, xxl: 1599px);

// Use @include mq(lg, 'max') for max-width or @include mq(lg)

@mixin mq($mq-breakpoint, $mq-width: 'min-width', $mq-breakpoints: $breakpoints) {
    @if $mq-width == 'max' {
        $mq-width: 'max-width';
        $mq-breakpoints: $max-breakpoints;
    }

    // If $mq-breakpoint is a key that exists in this
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
        $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }

    @media (#{$mq-width}: #{$mq-breakpoint}) {
        @content;
    }
}
