
@import '../_base/_animate.scss';
@import '../_base/_mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
h3,h2,h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #0975f5;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0em;
}
a{
    color: #666;
}
.site{
    &_main{
        &_search{
            .page-search{
                padding: 0 0 20px 0;
                width: 100%;
                .heading-page{
                    position: relative;
                    text-align: center;
                    padding: 0 0 30px 0;
                    h1{
                        font-size: 30px;
                        margin: 0 0 10px;
                        font-weight: 700;
                        text-align: center;
                        &:after{
                            content: "";
                            background: #252a2b;
                            display: block;
                            width: 60px;
                            height: 4px;
                            margin: 25px auto 0;
                        }
                    }
                }
            }
            .wrapbox-content-page{
                width: 100%;
                padding-bottom: 30px;
                .content-page{
                    .expanded-message{
                        .search-field{
                            width: 60%;
                            display: block;
                            margin: auto;
                            .search-page{
                                #go{
                                    width: 55px;
                                    height: 55px;
                                    float: right;
                                    background: url(https://theme.hstatic.net/1000409762/1000752712/14/iconsearch.png?v=10) #252a2b center no-repeat;
                                    margin: 0px;
                                    position: relative;
                                    top: 0;
                                    border-radius: 0;
                                    font-size: 0;
                                    border: 0;
                                }
                                .search_box{
                                    width: calc(100% - 55px);
                                    outline: none;
                                    height: 55px;
                                    padding: 0 20px;
                                    background: #ededed;
                                    border: 0;
                                    box-shadow: none;
                                    &::placeholder{
                                        font-family: 'Quicksand', sans-serif;
                                        font-size: 14px;
                                        font-style: normal;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
                .message-txt{
                    width: 100%;
                    padding-top: 25px;
                    text-align: center;
                    p{
                        margin: 0;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }
}