@charset "UTF-8";
/* 
	thuộc tính transform dùng để tạo hiệu ứng
		rotate(Độ:deg): hiệu ứng xoay VD rotate(90deg)
		scale(kích thước phóng:số): hiệu ứng zoo VD scale(1)

		translateX(px): di chuyển ngang
		translateY(px): di chuyển dọc

		skewX(Độ:deg): nghiêng ngang
		skewY(Độ:deg): nghiêng dọc

		transform-origin: Nó cho phép bạn định vị chiều rộng và chiều cao cho thành phần,
		dùng chung với transform và có các thuộc tính: top bottom left right và %

		Perspective: tạo hiệu ứng 3D nó sẽ cho ta thấy được chiều sâu của thành phần, 
		khoảng chiều sâu được tính từ điểm đặt ban đầu tới giá trị của perspective (theo đơn vị pixel).
	
	cú pháp tạo 1 animation
	@keyframes box-rotate-reverse {
		50% {
			transform: rotate(-180deg); 
		}
		100% { 
			transform: rotate(-360deg); 
		}
	}
	gọi
	animation: NameKeyFrames duration(s) timing delay(s) iteration-count direction;
*/
/* dùng cho một vài thuộc tính riêng cho trình duyện VD: transition, box-shadow */
/* căn giữa chiều dọc và ngang trên 1 box */
/* background opacity */
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

@media only screen and (max-width: 991px) {
  .site .site_header_search-box {
    display: block; }
  .site .site_header_center_box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    .site .site_header_center_box .header-wrap-hamburger {
      padding: 0 15px;
      display: block !important; }
    .site .site_header_center_box .header-hide {
      display: none !important; }
  .site .site_header_center .header_logo {
    width: 65%;
    display: flex;
    justify-content: center; }
  .site .site_header_center .header-hide {
    display: none !important; }
  .site .site_header_center .header_icon .item {
    padding: 0;
    margin: 0;
    display: inline-block;
    transition: opacity 150ms linear;
    font-size: 13px;
    margin-left: 6px;
    cursor: pointer;
    color: #000;
    display: flex;
    display: -webkit-flex;
    align-items: center; }
  .site .site_header_bottom {
    display: none; }
  .site .site_main_product_new .product-list .pro-loop {
    width: 33.33333333%; }
  .site .site_main_category .heading-collection {
    display: inline !important; }
    .site .site_main_category .heading-collection .hidden-sm {
      display: none; }
    .site .site_main_category .heading-collection .title-ct {
      font-size: 20px !important;
      text-align: center;
      margin: 0 0 15px !important; }
    .site .site_main_category .heading-collection .title-filter {
      display: none; }
    .site .site_main_category .heading-collection .outer-sort-filter {
      align-items: center;
      display: flex; }
      .site .site_main_category .heading-collection .outer-sort-filter .filterTagFullwidthButton-mobile {
        display: block !important; }
  .site .footer-top {
    display: none; }
  .site .footer_mobi {
    display: block !important; }
  .site .sidebar-page .group-menu .title-page span {
    display: inline-block !important;
    margin-left: 35px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease; }
  .site .sidebar-page .group-menu .active .title-page h2 span {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); }
  .site .sidebar-page .group-menu .menu-page {
    display: none; }
  .site .sidebar-page .box-banner-page {
    display: none; } }
@media screen and (max-width: 767px) {
  .site_header_center_box {
    margin: 0 -15px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    .site_header_center_box .header-wrap-hamburger {
      padding: 0 15px;
      display: block !important; }
    .site_header_center_box .header-hide {
      display: none !important; }
  .site_header_center .header_logo {
    width: 65%;
    display: flex;
    justify-content: center; }
  .site_header_center .header-hide {
    display: none !important; }
  .site_header_center .header_icon {
    padding-right: 15px; }
    .site_header_center .header_icon .item {
      padding: 0;
      margin: 0;
      display: inline-block;
      transition: opacity 150ms linear;
      font-size: 13px;
      margin-left: 6px;
      cursor: pointer;
      color: #000;
      display: flex;
      display: -webkit-flex;
      align-items: center; }

  .site_header_bottom {
    display: none; }

  .site_main_images .site_main_images__list {
    padding: 0; }
    .site_main_images .site_main_images__list .site_main_images_item {
      margin-top: 15px; }
    .site_main_images .site_main_images__list .img-item {
      width: 100%; }

  .site_main_product-all .col {
    width: calc(100% - (100% / (12 / (12 - 12) )) ); }

  .site_main_collection-info .col {
    width: calc(100% - (100% / (12 / (12 - 12) )) ); }

  .site_main_introduce .policy-list-content {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    flex-direction: column;
    margin: 0 -15px; }
    .site_main_introduce .policy-list-content .policy_item {
      margin: 0 0 15px 0;
      width: 100%; }
      .site_main_introduce .policy-list-content .policy_item:last-child {
        margin: 0; }

  .addThis_listSharing {
    display: none !important; }

  .actionToolbar_mobile {
    display: block !important; }

  .wrapbox-content-page .content-page .expanded-message .search-field {
    width: 100% !important; } }
@media screen and (min-width: 1200px) {
  .container-fluid {
    max-width: 1600px;
    padding: 0 85px; } }
@media screen and (min-width: 560px) {
  .header-wrap-hamburge {
    display: block; } }

/*# sourceMappingURL=reponsive.css.map */
